html, body{
 font-size: 100%;
 background: #fff;
font-family: 'Open Sans', sans-serif;
}
body a,.menu ul li a,.album  {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*header*/
.menubar
{
	margin-bottom: 0px !important;
	background-color: #333;
	border: none !important;
	border-radius: 0px !important;
	z-index: 2;
}
.index
{
	padding: 24px 15px !important;
	display: inline-block;
	height: auto !important;
	font-family: 'Pacifico', cursive;
	color: #fff !important;
	font-size: 24px !important;	
}

.navstyle li a
{
	padding: 24px 15px !important;
	color: #fff;
	font-family: "Source Sans Pro",sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.navstyle li a:hover, .navstyle li a:focus, .navstyle li a.active
{
	background-color: #33a29d !important;
	color: #fff;
}

.navbar-right {
    float: right !important;
    margin-right: 0px !important;
}
/*--faviretes-section--*/
h3.tittle {
  color: #553A99;
  font-size: 3em;
  padding: 0em 0em;
  font-family: 'Jockey One', sans-serif;
  margin-bottom: 0.9em;
}
h3.tittle.two{
 padding: 0em 0.5em;
}
.faviretes-section {
  padding: 4em 0;
}
.f-grid {
  margin-bottom: 2em;
}
.faviretes-left {
  float: left;
}
.f-img img {
  width: 100%;
}
.f-text a h3 {
  font-size: 1.9em;
  color: #D52685;
  font-weight: 400;
  font-family: 'Jockey One', sans-serif;
  }
.f-text p {
  font-size: 0.9em;
  color: #555;
  line-height: 1.7em;
  margin: 0.6em 0;
}
span.item_price h6 {
   font-weight: 700;
  color: #553a99;
  font-size: 1.5em;
  padding-bottom: 1em;
  display: block;
}
a.add {
  background:#ff1791;
  width: 30%;
  padding: 0.7em 1em;
  color: #fff;
  font-size:0.95em;
  text-transform:uppercase;
}
a.add:hover{
 background:#553a99;
}
/*--*/
.button{
	background:#D52685;
	padding: 10px;
	cursor: pointer;
	border: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #FFF;
	outline: none;
	text-transform: uppercase;
	display: block;
	margin: 10px 0 0 0;
	font-size: 0.875em;
}
.button:hover{
	  background-color: #553A99;
	  color:#fff;
}
/*--footer--*/
.footer {
	background:rgb(87, 81, 80);
}
.footer-grid{
	text-align:center;
	margin-bottom:30px;
}
.footer h3 {
	font-size: 37px;
	color: rgb(250, 250, 250);
	text-align: center;
}
.footer p {
	padding-top: 17px;
	width: 60%;
	font-family: 'Arial';
	font-size: 14px;
	color: rgb(255, 255, 255);
	text-align: center;
	line-height: 2;
	margin: 0 auto;
	font-family:Arial, Helvetica, sans-serif;
	padding: 10px 18px 18px 18px;
}
.footer-nav1{
	text-align:center;
}
.footer-nav1 ul{
	margin: 0px;
}
.footer-nav1 ul li{
	display:inline-block;
	margin-right:6px;
}
#fb:hover{
	opacity: 0.8;	
}
#twr:hover{
	opacity: 0.8;	
}
#mail:hover{
	opacity: 0.8;	
}
#feed:hover{
	opacity: 0.8;	
}
/*footer1*/
.footer1{
	background: #3a3635;
	border-top: 1px ridge rgba(83, 78, 74, 0.75);
}
.footer1 p{
	text-align:center;
}
.footer1 p.w3-link {
	color: #eee;
	font-size:13px;
}
.footer1 p.w3-link a {
	color:rgb(112, 162, 8);
	text-decoration: none;
	font-size:13px;
}
.footer1 p.w3-link a:hover {
	text-decoration: underline;
}

/*--responsive--*/
@media (min-width: 200px) and (max-width: 767px) {
.navstyle{
	width: 100% !important;
}
.navstyle li a {
    padding: 10px 15px !important;
    text-align: center;
    display: block;
}
}
@media (max-width:1280px){
	  
}
@media (max-width:1024px){
	
  a.add {
	  padding: 0.7em 0.8em;
	  font-size: 0.85em;
	}
	span.item_price h6 {
	  font-size: 1.3em;
	  padding-bottom: 0.7em;
	  }
	  .f-img {
	  padding-left: 0;
	  margin-top: 0.5em;
	}
	.f-text {
	  padding: 0;
	}
	.arrow-img {
	  padding: 0em 0em 0 1em;
	}
	.img-arrow {
	  padding: 0 0 0 3.3em;
	}
	.f-grid {
	  margin-bottom: 2.5em;
	}
}
@media (max-width:768px){
	.faviretes-left {
	  float: none;
	  width: 100%;
	}
	.f-img {
	  float: left;
	  width: 36%;
	  padding: 0;
	}
	.f-text {
	  float: right;
	  width: 60%;
	  padding: 0;
	}
	h3.tittle.two {
	  padding: 0em 0.3em;
	}
	h3.tittle {
    font-size: 3em;
    margin-bottom: 0.6em;
  }
  a.add {
  width: 30%;
  padding: 0.5em 1em;
  }
  .menu-chain {
	  width: 50%;
	  margin: 1em 0 0 0;
  }
 
	.f-grid.two {
	  margin: 2em 0;
	}
	.arrow-img {
	  padding: 0em 0em 0 34em;
	}
	.img-arrow {
	   padding: 0 0 0 36.2em;
	}
  .f-text a h3 {
  font-size: 1.8em;
  }

}

@media (max-width:640px){
	h3.tittle {
	  font-size: 2.6em;
	  margin-bottom: 0.6em;
	}
	.header-top {
	  padding: 1.5em 0;
	}
	.header-right {
	  margin-top: 0.3em;
	}
}

@media (max-width:480px){
	.faviretes-section, .albums, .albums {
	  padding: 2em 0;
	}

	.logo a h1 {
	  font-size: 2.3em;
	  }
	  .banner.two {
	  background: url(../images/banner2.jpg)no-repeat;
	  min-height: 103px;
	  background-size: cover;
	  -o-background-size: cover;
	  -moz-background-size: cover;
	  -ms-background-size: cover;
	  -webkit-background-size: cover;
	}
	.f-img {
	  float: left;
	  width: 100%;
	  padding: 0;
	}
	.f-text {
	  float: right;
	  width: 100%;
	  padding: 0;
	  margin-top: 1em;
	}
	h3.tittle.two {
	  padding: 0em 0em;
	}
	.faviretes-left {
	  padding: 0;
	}
	h3.tittle {
   font-size: 2.3em;
  }
}

@media (max-width:320px){
	.header-top {
	  padding: 1em 0;
	}
	.logo a h1 {
	  font-size: 2em;
	}
	.faviretes-section, .albums, .albums {
	  padding: 1.2em 0;
	}
	h3.tittle {
	  font-size: 2em;
	  margin-bottom: 0.35em;
	}
	.f-text a h3 {
	  font-size: 1.5em;
	}
	.f-text p {
  font-size: 0.83em;
  }
  span.item_price h6 {
  font-size: 1.3em;
  }
  a.simpleCart_empty {
  font-size: 0.8em;
  }
  a.add {
	  width: 30%;
	  padding: 0.5em 0.5em;
	  font-size: 0.9em;
	}
}